{% extends 'base.html' %}

{% block title %}Inicio - gestion freelancers{% endblock %}

{% block content %}
{%load static%}
    
    <section id="contratos">
        <h2>Creación de Contratos</h2>
        <p>Facilita la creación y gestión de contratos con clientes.</p>
        <form  method="post" action="{% url 'gestion_contratos' %}">
            {% csrf_token %}
            <label for="nombre_cliente">Nombre del Cliente:</label>
            <input type="text" id="nombre_cliente" name="nombre_cliente" required>
            
            <label for="descripcion_servicio">Descripción del Servicio:</label>
            <textarea id="descripcion_servicio" name="descripcion_servicio" required></textarea>

            <label for="descripcion_servicio">terminos del contrato:</label>
            <textarea id="descripcion_servicio" name="terminos" required></textarea>

            <label for="fecha_inicio">Fecha de Inicio:</label>
            <input type="date" id="fecha_inicio" name="fecha_inicio" required>
            
            <label for="fecha_fin">Fecha de Finalización:</label>
            <input type="date" id="fecha_fin" name="fecha_fin" required>
            
            <label for="monto">Monto Acordado ($):</label>
            <input type="number" id="monto" name="monto" required>
            
            <button type="submit">Generar Contrato</button>
        </form>
    </section>
    <br>
    
{% endblock%}