{% extends 'base.html' %}

{% block title %}Inicio - gestion freelancers{% endblock %}

{% block content %}
{%load static%}

    <section id="perfil">
        <h2>Mi Información</h2>
        <div class="perfil-container">
            
            
           
                <img src="{% static 'img/cuenta.png'%}"  alt="Foto de perfil" class="perfil-img">
            

    
            <br>
            <br>

            <div class="proyecto-item" id="proyecto-{{ proyecto.id_proyecto }}">
                <h5 style="display: inline;">Usuario: </h5>
                <p style="display: inline;">{{user.username}}</p>
                <br>
                <h5 style="display: inline;">Nombre: </h5>
                <p style="display: inline;">{{user.nombre}}</p>
                <br>
                <h5 style="display: inline;">Correo: </h5>
                <p style="display: inline;">{{user.correo}}</p>
            </div>

            <h2> Mis proyectos</h2>
            <!--<div class="proyecto-container" id="lista-proyectos">-->
                {% for proyecto in proyectos %}
                    <div class="proyecto-item" id="proyecto-{{ proyecto.id_proyecto }}">
                        <h3 style="display: inline;">{{ proyecto.nombre }}</h3>
                        <p>{{ proyecto.descripcion|truncatewords:20 }}</p>
                        <p>Fecha de inicio: {{ proyecto.fecha_inicio }}</p>
                        
                        <!-- <p><strong>Inicio:</strong> {{ proyecto.fecha_inicio }} - <strong>Fin:</strong> {{ proyecto.fecha_fin }}</p>-->
                    </div>
                      <br>
                    {% empty %}
                    <p>No tienes proyectos aún.</p>
              
                {% endfor %}
          <!-- </div>-->


            <h2> Mis contratos</h2>
            <div class="container">
                {% for contrato in contratos %}
                    <div class="proyecto-item" id="contrato-{{ contrato.id_contrato }}">
                        <h3 style="display: inline;">El cliente es {{ contrato.nombre_cliente }}</h3>
                        <br>
                        <p>Los terminos son {{ contrato.terminos|truncatewords:20 }}</p>
                        <p>{{ contrato.descripcion|truncatewords:20 }}</p>
                        <p><strong>Inicio:</strong> {{ contrato.fecha_inicio }} - <strong>Fin:</strong> {{contrato.fecha_fin }}</p>
                        <p>{{ contrato.fecha_creacion }}</p>
                        <!-- <p><strong>Inicio:</strong> {{ proyecto.fecha_inicio }} - <strong>Fin:</strong> {{ proyecto.fecha_fin }}</p>-->
                    </div>
                    <br>
                        {% empty %}
                        <p>No tienes proyectos aún.</p>
                    
                {% endfor %}
            </div>

    </div>
    </section>
    <br>
    </div>

{%endblock%}