{% extends 'base.html' %}

{% block title %}Inicio - gestion freelancers{% endblock %}

{% block content %}
{%load static%}
    
    <section id="proyectos">
        <h2>Gestión de Proyectos</h2>
        <p>Añade y gestiona tus proyectos fácilmente.</p>
        
        <form action="{%url 'proyectos'%}" method="post" id="proyecto-form">
            {% csrf_token %}
            <label for="nombre-proyecto">Nombre del Proyecto:</label>
            <input type="text"name="nombre" id="nombre-proyecto" required>
            
            <label for="descripcion-proyecto">Descripción:</label>
            <textarea id="descripcion-proyecto"name="descripcion" required></textarea>
            
            <label for="fecha-inicio">Fecha de Inicio:</label>
            <input type="date"name="fecha_inicio" id="fecha-inicio" required>
            
            <label for="fecha-fin">Fecha de Finalización:</label>
            <input type="date"name="fecha_fin" id="fecha-fin" required>
            
            <button type="submit" class="add-proyecto">Agregar Proyecto</button>
        </form>
        <br>
        
        <div class="proyecto-container" id="lista-proyectos">
            {% for proyecto in proyectos %}
        <div class="proyecto-item" id="proyecto-{{ proyecto.id_proyecto }}">
            <h3>{{ proyecto.nombre }}</h3>
            <p>{{ proyecto.descripcion }}</p>
            <p><strong>Inicio:</strong> {{ proyecto.fecha_inicio }} - <strong>Fin:</strong> {{ proyecto.fecha_fin }}</p>

            <label for="estado-{{ proyecto.id_proyecto }}">Estado:</label>
            <select id="estado-{{ proyecto.id_proyecto }}" onchange="actualizarEstado('{{ proyecto.id_proyecto }}')">
                <option value="pendiente" {% if proyecto.estado == 'pendiente' %}selected{% endif %}>Pendiente</option>
                <option value="en_proceso" {% if proyecto.estado == 'en_proceso' %}selected{% endif %}>En Proceso</option>
                <option value="terminado" {% if proyecto.estado == 'terminado' %}selected{% endif %}>Terminado</option>
            </select>
        </div>
    {% empty %}
        <p>No hay proyectos aún.</p>
    {% endfor %}
            <!-- Los proyectos se agregarán dinámicamente aquí -->
        </div>
    </section>
    
{%endblock%}
